* {
    box-sizing: border-box;
}
body {
    margin-top: 50px;
}

.article-view h1 {
    text-align:  center;
}

.row {
    margin: 0 auto;
}

.image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-image {
    background-color: #fff;
}

.inner-image img {
    max-height: 500px;
    max-width: 100%;
}

.description {
    text-align: left;
    font-size: 18px;
}

hr {
    border: none; /* Убираем границу */
    background-color: rgba(0, 108, 242, 0.08); /* Цвет линии */
    color: rgba(0, 108, 242, 0.08); /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}


/*site/index*/
.main_container {
    margin-top: 70px;
}

.info_block {
    background: #edf0f5;
    text-align: center;
    padding-top: 20px;
}

.info_money {
    border: 1px solid #2e6da4;
    border-radius: 6px;
}

.info_text {
    margin-top: 13%;
    margin-bottom: 1%;
}

.images-article div {
    height: 311px;
}

@media(max-width:767px) {
    .images-article div {

    }
}

.carousel-inner div img, .carousel-inner img {
    max-height: 311px;
    margin:0 auto;
}

.col-lg-6 p {
    min-height: 40px;
    text-align: left;
}

.data_block {
    margin: 1px;
}

.data_block div {
    border: 4px double rgba(53,109,255,0.22);
}

/*article/view*/
.description {
    font-size: 100%;
    padding: 8px;
}

.article-list {
    margin: 40px 0 40px;
}

.article_wrap {
    border: 1px solid #edf0f5;
    margin-bottom: 30px;
}

.article-info {
    background-color: #edf0f5;
    padding: 8px;
}

.article-info div {
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: center;
}

.article-info div span {
    padding: 10px;
}

.article {
    margin-bottom: 40px;
}